*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: montserat;

}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;

}
#page{
    position: relative;
height: 100vh;
width: 100vw;
background-color: white;
}
#page>img{
    position: absolute;
    right: 5%;
    top: 52%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50%;
}
#page>#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    text-decoration: none;
    position: absolute;
    z-index: 9;
    height: 10%;
    width: 100%;
    background-color: white;

     
}
#centre-nav{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

}
#centre-nav>a{
    text-decoration: none ;
    color: black;
    font-weight: 500;
    font-size: 18px;
}
#nav>input{
    padding: 10px 5px;
    border: 1px solid white;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color: #FCDA69;
}
#text{
    padding: 30px 50px; 
    position: relative;
    top: 18%; 
    left: 8%;
    height: 75%;
    width: 35%;
    scale: 1.1;

}
#text>h1{
    font-size: 60px;
    line-height: 1;
    margin-top: 20px;


}
#text>h4{
    margin-top: 30px;
    color:black;
    font-size: 17px;
    font-weight: 500;
}
#text>h5{
    color: #8873EF;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    position: absolute;
    left: 3%; 
}
#buttons{
    position: absolute;
    left: 0%;
    bottom: 18%;
    height: 20%;
    width: 100%;
    
     
}
#buttons>button{
    padding: 10px 22px;
    
    border-radius: 10px;
    border: none;
    font-weight: normal;


}
#buttons>#b1{
    background-color:#8873EF;
    margin-left: 20px;

}
#buttons>button>i{
    font-size: 17px;

}
#buttons>button>#b2{
    margin-left: 20px;
}
#page1>#left{
    position: absolute;
    right: 5%;
    height: 90%;
    width: 50%;
    transform: translateY(-50%);

}